<link rel="stylesheet" href="./css/room.css">
<link rel="stylesheet" href="./css/waiting.css">
<div class="container">
    <div class="header">
        <div class="logo">
            <img src="../img/index.jpg" alt="">
        </div>
        <div class="title">
            <h2>Accomodation Listing</h2>
        </div>
        <div class="filter-wrapper">
            <div class="filter-input">
                <label class="search-bar address-search-bar">
                    <span><i class="fa fa-search"></i></span>
                    <div class="input-box">
                        <div><b>Address</b></div>
                        <input type="text" class="advanced-search address-search" name="advanced-search" placeholder="Address">
                    </div>
                </label>
                <label class="search-bar">
                    <div class="input-box">
                        <div><b>Remarks</b></div>
                        <input type="text" class="advanced-search remarks-search" name="advanced-search" placeholder="Remarks">
                    </div>
                </label>
                <label class="search-bar">
                    <div class="input-box">
                        <div><b>Facilities</b></div>
                        <input type="text" class="advanced-search facilities-search" name="advanced-search" placeholder="Facilities">
                    </div>
                </label>
            </div>
        </div>
        <div class="filter-wrapper">
            <div class="button-wrapper">
                 <a href="room?campus=KP" class="button" id="kampar">Kampar({{set.kpRoomCount}})</a>
            </div>
            <div class="button-wrapper">
                <a href="room?campus=SL" class="button" id="sg-long">Sg Long({{set.slRoomCount}})</a>
            </div>
        </div>
        <div class="filter-wrapper" id="non-campus-filter">
            <div id="saved"><a href="saved" class="button" id="saved-button">Saved</a></div>
            <div class="dropdown" id="price-range-dropdown">
                <button id="price-range-button" class="button">Price</button>
                <div class="dropdown-content" id="price-range-dropdown-content">
                    <div id="price-range-list">
                        <div class="range">
                            <div class="slider-wrapper">
                              <span class="adjustment-sign minus-sign">&minus;</span>
                              <input type="range" min={{set.minmin}} max={{set.maxmax}} step=10 class="slider" id="lower-range-scroll">
                              <span class="adjustment-sign plus-sign">&plus;</span>
                            </div>
                            <div class="price-wrapper">
                                <div>min price</div>
                                <div class="input-price">
                                    <span>RM</span>
                                    <label><input min={{set.minmin}} max={{set.maxmax}} value={{set.minmin}} type="text" id="lower-range-input" class="price"></label>
                                </div>
                            </div>
                        </div>
                        <div class="range">
                            <div class="slider-wrapper">
                              <span class="adjustment-sign minus-sign">&minus;</span>
                              <input type="range"  min={{set.minmin}} max={{set.maxmax}} step=10 class="slider" id="upper-range-scroll">
                              <span class="adjustment-sign plus-sign">&plus;</span>
                            </div>
                            <div class="price-wrapper">
                                <div>max price</div>
                                <div class="input-price">
                                    <span>RM</span>
                                    <label><input min={{set.minmin}} max={{set.maxmax}} value={{set.maxmax}} type="text" id="upper-range-input" class="price"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="option">
                        <button id="price-clear-button" class="clear-button">Clear</button>
                        <button id="price-search-button" class="search-button">Search</button>
                    </div>
                    <div class="close">
                        <button id="close-price" class="close-button">X</button>
                    </div>
                </div>
            </div>
            <div class="dropdown" id="room-capacity-dropdown">
                <button id="room-capacity-button" class="button">Room Capacity</button>
                <div class="dropdown-content" id="room-capacity-dropdown-content">
                    <div id="room-capacity-list">
                        {{#each set.cap}}
                          {{#if (lookup ../set.checkedCap @index)}}
                            <label><input type="checkbox" id="capacity-{{.}}" checked><span class="room-capacity">{{.}} Tenant</span></label>
                          {{else}}
                            <label><input type="checkbox" id="capacity-{{.}}"><span class="room-capacity">{{.}} Tenant</span></label>
                          {{/if}}
                        {{/each}}
                    </div>
                    <div class="option">
                        <button id="rc-clear-button" class="clear-button">Clear</button>
                        <button id="rc-search-button" class="search-button">Search</button>
                    </div>
                    <div class="close">
                        <button id="close-room" class="close-button">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="infos-content">
      {{#each places}}
        {{> room}}
      {{/each}}
    </div>
    <div id="waitingBackground">
        <div class="waiting-content">
            <div class="loader"></div>
        </div>
    </div>
</div>
<script src="/js/room.js" charset="utf-8" defer></script>
<script src="/js/roomTemplate.js" charset="utf-8" defer></script>
<script src="/js/filter.js" charset="utf-8" defer></script>
<script src="/js/roomOnly.js" charset="utf-8" defer></script>
