<div class="infos">
    <div class="vital-info">
        <address class="address-info info">
            <h1 class="address">Address</h1>
            <p>{{address}}</p>
        </address>
        <div class="remarks-info info">
            <div>
                <p class="available">Available From: {{formatDate available_from "MMM YYYY"}}</p>
            </div>
            <div>
                <p>{{remarks}}</p>
            </div>
        </div>
    </div>
    <div class="less-vital-info">
        <div class="contact-info info">
            <p>{{name}} &#183; {{hp_no}}</p>
        </div>
        <div class="accomodation-infos info">
          {{#each rooms}}
            <div class="accomodation-info">
                <div>
                    <p>{{type}}</p>
                    <ul>
                        <li class="tenants">{{capacity}} tenants</li>
                        <li class="price">&#36;{{price}} / tenant</li>
                    </ul>
                </div>
            </div>
          {{/each}}
        </div>
    </div>
</div>
